<footer class="site-footer" data-animate="fade">
  <div class="site-footer__inner">
    <div>
      <h2 class="site-footer__heading">Home Melbourne Pty Ltd</h2>
      <p>ABN 00 000 000 000</p>
      <p>Melbourne, Victoria</p>
    </div>
    <div class="site-footer__links">
      <a href="tel:+61000000000">+61 0 0000 0000</a>
      <a href="mailto:sales@homemelbourne.com.au">sales@homemelbourne.com.au</a>
    </div>
  </div>
  <p class="site-footer__copyright">&copy; {{year}} Home Melbourne Pty Ltd. All rights reserved.</p>
</footer>
