<header class="site-header" data-animate="fade">
  <div class="site-header__inner">
    <a href="/" class="site-header__brand">
      <span class="site-header__logo">Home Melbourne</span>
      <span class="site-header__tagline">Wholesale Steel Specialists</span>
    </a>
    <nav class="site-header__nav">
      <a href="/" class="is-active">Home</a>
      <a href="/catalog">Catalog</a>
      <a href="/accounts">Accounts</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
