<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{#if pageTitle}}{{pageTitle}} | {{/if}}Home Melbourne Pty Ltd</title>
    <meta
      name="description"
      content="Wholesale steel solutions from Home Melbourne Pty Ltd including CoolPanel, SmartBeam, and FlexFacade systems."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{> header }}
    <main>
      {{{body}}}
    </main>
    {{> footer }}
    <script src="/js/main.js" defer></script>
  </body>
</html>
